In [1]:
# access key:88f04be1-52fc-493c-99aa-aeaee2ec2112
#token: HH+jPe2fChYew2yRUBq3Nnae0HfN2AXGXaT7-5vcKb212sE1kw2p88cB18jhZ8Kh1NcrF-cB54bsZeeF6yc5qwe4Xa30n928e11T

#(token will change daily)

In [ ]:
# Problem statement: To Predict the Prices of private residential properties; inside CCR, OCR and RCR region as well as 
#their price difference over the last 5 years

In [1]:
import numpy as np
import pandas as pd
import requests
import json
import csv
import time
import datetime
from ura_api import ura_api

In [2]:
url = "https://www.ura.gov.sg/uraDataService/invokeUraDS?service=PMI_Resi_Transaction&batch=1"

In [3]:
params = {
    'AccessKey':'88f04be1-52fc-493c-99aa-aeaee2ec2112',
    'Token':'HH+jPe2fChYew2yRUBq3Nnae0HfN2AXGXaT7-5vcKb212sE1kw2p88cB18jhZ8Kh1NcrF-cB54bsZeeF6yc5qwe4Xa30n928e11T'
}

In [5]:
ura = ura_api.ura_api('88f04be1-52fc-493c-99aa-aeaee2ec2112')

In [6]:
ura

In [8]:
batch1 = ura.private_residential_property_transactions()

In [9]:
df1 = pd.DataFrame(batch1)

In [12]:
df1

,street,project,transaction,marketSegment,x,y
0,ZEHNDER ROAD,LANDED HOUSING DEVELOPMENT,"[{'area': '524.3', 'floorRange': '-', 'noOfUni...",RCR,NaN,NaN
1,NEO PEE TECK LANE,LANDED HOUSING DEVELOPMENT,"[{'area': '159.3', 'floorRange': '-', 'noOfUni...",RCR,NaN,NaN
2,COVE DRIVE,TURQUOISE,"[{'area': '196', 'floorRange': '01-05', 'noOfU...",CCR,28382.47067,25008.33592
3,BUKIT TERESA ROAD,LANDED HOUSING DEVELOPMENT,"[{'area': '178.3', 'floorRange': '-', 'noOfUni...",RCR,NaN,NaN
4,ALEXANDRA VIEW,ARTRA,"[{'area': '77', 'floorRange': '16-20', 'noOfUn...",RCR,26204.50079,30270.56219
...,...,...,...,...,...,...
287,COVE GROVE,LANDED HOUSING DEVELOPMENT,"[{'area': '903.5', 'floorRange': '-', 'noOfUni...",CCR,NaN,NaN
288,ALEXANDRA VIEW,THE METROPOLITAN CONDOMINIUM,"[{'area': '96', 'floorRange': '41-45', 'noOfUn...",RCR,26074.4211,30319.95369
289,WESTRIDGE WALK,LANDED HOUSING DEVELOPMENT,"[{'area': '214.1', 'floorRange': '-', 'noOfUni...",RCR,NaN,NaN
290,FABER HEIGHTS,FABER CREST,"[{'area': '117', 'floorRange': '01-05', 'noOfU...",OCR,19547.85969,33943.45546
291,KIM TIAN ROAD,HIGHLINE RESIDENCES,"[{'area': '105', 'floorRange': '01-05', 'noOfU...",RCR,27603.58591,29605.2519

In [9]:
batch1.text

'<!DOCTYPE html>\n<html lang="en" ng-app="myApp" ng-controller="errormain">\n<head>\n<meta charset="UTF-8">\n<meta name="viewport" content="width=device-width, initial-scale=1.0">\n<meta http-equiv="X-UA-Compatible" content="ie=edge">\n<title></title>\n<style>\n    html,body,div{padding: 0; margin: 0;}\n</style>\n</head>\n<body>\n    <iframe id="autherframe" frameBorder="0" scrolling="no" src="https://speresources.nexusguard.com/wafpage/index.html#403;103.252.200.90;pbSwEQAAAAAAAAAAZ~zIWp1P;#403" width="100%"></iframe> \n<script>\nvar doc = document,\n    autherframe = doc.getElementById("autherframe");\n    var frameWin = autherframe.contentWindow;    //windowå¯¹è±¡  \n    var frameDoc = autherframe.contentWindow.document;  //documentå¯¹è±¡  \n    var frameBody = autherframe.contentWindow.document.body;   //bodyå¯¹è±¡  \n    autherframe.onload = function(){\n        this.height = window.innerHeight>600?window.innerHeight:"600px";\n        this.scrolling = window.innerHeight>600?"no":"yes"\n    }\n</script>\n</body>\n</html'

In [5]:
url = "https://www.ura.gov.sg/uaDataService/invokeUraDS?service=PMI_Resi_Transaction&batch=1"
    -H "AccessKey: 88f04be1-52fc-493c-99aa-aeaee2ec2112"
    -H "Token: HH+jPe2fChYew2yRUBq3Nnae0HfN2AXGXaT7-5vcKb212sE1kw2p88cB18jhZ8Kh1NcrF-cB54bsZeeF6yc5qwe4Xa30n928e11T"

IndentationError: unexpected indent (Temp/ipykernel_6104/2895775343.py, line 2)

In [ ]:
def load_from_url(post):
    url = "url = "https://www.ura.gov.sg/uaDataService/invokeUraDS?service=PMI_Resi_Transaction&batch=1"
    res_list =[]
    params={
        'size':
        'before':
    }